.btn-menu {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    width: 50px;
    height: 50px;

    &:active {
        opacity: 0.8 !important;
    }

    i {
        margin: 0;
        font-size: 1.1rem;
    }

    &.not-collapsed {
        margin-left: 260px;
    }
}
.is-alert-shown .btn-menu {
    top: 63px;
}
