.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    background-color: $yellow;
    position: relative;

    .brand-text {
        font-family: serif;
        font-size: 3rem;
    }

    .leader {
        margin-bottom: 0rem;
    }

    .brand-cta {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .brand-disclaimer {
        align-self: flex-end;
        opacity: 0.5;
        margin-top: 1rem;
        font-family: 1rem;
        display: flex;

        img {
            display: block;
            width: 80px;
            height: 50px;
            margin-right: 1rem;
        }
    }
}
.fade {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    &:not(.show) {
        opacity: 0;
    }
}
@media (min-width: 768px) {
    .jumbotron {
        .brand-text {
            font-size: 5rem;
        }
    }
}

.animated.loaded {
    .header {
        top: 0;
        opacity: 1;
    }
    .brand-text {
        span {
            opacity: 1;
        }
        sub {
            opacity: 1;
        }
    }
    .list {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
