.jumbotron {
    padding: 1rem;
}

.jumbotron.large {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    background-color: $yellow;
    position: relative;

    .brand-text {
        font-family: serif;
        font-size: 3rem;

        @media (min-width: 768px) {
            font-size: 5rem;
        }
    }

    .leader {
        margin-bottom: 0rem;
    }

    .brand-cta {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .brand-disclaimer {
        align-self: flex-end;
        opacity: 0.5;
        margin-top: 1rem;
        font-family: 1rem;
        display: flex;

        img {
            display: block;
            width: 80px;
            height: 50px;
            margin-right: 1rem;
        }
    }
}
