.modal-header {
    padding: 3rem 3rem 0 3rem;
    border: 0;
    h5 {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
.modal-body {
    padding: 2rem 3rem;
}

.modal-footer {
    padding: 0rem 3rem 3rem 3rem;
    border: 0;
}
