.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: $secondary;
    // background-color: $white;
    overflow: hidden;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        background-color: white !important;
        transition: 0.2s transform ease;
        transform: scaleY(2);
    }

    // &:hover:before {
    //     transform: scaleY(2);
    // }

    .header-brand {
        flex: 0 100px;
        justify-content: center;
        text-align: center;

        img {
            display: block;
            width: 55px;
            height: auto;
        }
    }
    #nav-collapse > .navbar-nav {
        flex: 1 !important;
    }
    // & > .navbar-nav:first-of-type {
    //     flex: 1 !important;
    //     padding-left: 1rem;

    //     .nav-item {
    //         margin-right: 3rem;
    //     }

    //     .nav-link {
    //         color: $dark;
    //         opacity: 0.8;
    //         font-size: 1rem;
    //         border-bottom: 2px solid transparent;
    //         padding: 0.25rem 0;

    //         &:hover,
    //         &.router-link-exact-active {
    //             opacity: 1;
    //         }
    //     }
    // }

    .navbar-nav-right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #nav-collapse {
        background: $white;
        color: $dark;
        padding: 1rem;

        > .navbar-nav {
            flex: 0 auto;
        }

        .navbar-nav-right {
            flex: 0;
            border-top: 1px solid $light;
            padding-top: 1rem;
            .navbar-nav {
                flex-direction: row;
                flex: 1;
                justify-content: space-around;
            }
        }

        .header-brand {
            display: none;
        }
    }
}
