.team-header {
    h2 {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: #ffe500;
        & + p {
            font-size: 18px;
            font-weight: normal;
        }
    }
    background-image: url(./assets/images/team.jpg);
    background-size: cover;
    background-position: center center;
    padding: 10rem 0;
    color: #fff;
    position: relative;
    z-index: 0;
    text-align: center;
    font-weight: 100;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .container {
        z-index: 1;
    }
}
.team-members {
    border-top: 15px solid #ffe500;
    background: #fff;
    padding: 4rem 0;
    color: #000;
    overflow: hidden;
    position: relative;
    font-weight: 100;
    h2 {
        color: #000;
        margin: 0 0 3rem;
    }
    &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-color: #ffe500;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: -20px;
    }
}
.team-member {
    position: relative;
    margin-bottom: 2rem;
    h3 {
        text-transform: none;
        margin-bottom: 0.5rem;
    }
    small {
        font-style: italic;
    }
    p {
        margin: 0.5rem 0 1rem;
    }
    .img-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    .btn-icon {
        border: 0;
        width: 40px;
        height: 40px;
        display: flex !important;
        position: absolute;
        left: 120px;
        margin-top: -40px;
        padding: 12px;
        transform: scale(1);
        transition: transform 0.1s;

        &:hover {
            transform: scale(1.2);
        }
    }
    hr {
        background: #ffe500;
        max-width: 50%;
        height: 10px;
        border: 0;
        margin: 0;
    }
    .btn-square {
        border-radius: 0;
    }
}
