.token-distribution {
    background-color: #f8f9fa;

    .dist-table .row {
        height: 2.5rem;
    }
    .innerCard {
        background: linear-gradient(0deg, #fafafa 70%, #ffe500 60%);
    }
    .table-footer {
        background-color: #212529;
        border-radius: 7px;
    }
}
